{% extends 'base.jinja2' %}

{% block subtitle %}Lookup Donations{% endblock subtitle %}

{% block content %}
    <p>Donation: <span_id="donation">{{ session.donation}}</span></p>
    <form method="GET" action="{{  url_for('lookup')  }}">
        <label for="donor">Donor Name(i.e. John): </label><input type="text" id="donor">
        <input type="submit" value="Lookup Donation(s)">
    </form>
{% endblock content %}
